/*-- -------------------------- -->
<---           Form             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #contact-form {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    max-width: 27.5em;
    margin: auto;
  }
  #contact-form .image {
    width: 100%;
    height: auto;
    display: block;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #contact-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 64em;
    gap: 2.5em;
    padding-top: 5em;
    padding-bottom: 5em;
  }
  #contact-form .form {
    flex: none;
    width: 56%;
  }
  #contact-form .image {
    width: 40%;
  }
  body.dark-mode #contact-form .text-center {
    color: #fff !important;
  }
}
/* Small Desktop */
@media only screen and (min-width: 81.25em) {
  #contact-form .form {
    width: 50%;
  }
  #contact-form .image {
    width: 50%;
  }
}
