/* Pages */
@media screen and (min-width: 0px) {
  body.dark-mode {
    /*-- -------------------------- -->
        <---           Home             -->
        <--- -------------------------- -*/
    /*-- -------------------------- -->
        <---           About            -->
        <--- -------------------------- -*/
    /*-- -------------------------- -->
        <---          Contact           -->
        <--- -------------------------- -*/
    /*-- -------------------------- -->
        <---        Testimonials        -->
        <--- -------------------------- -*/
  }
  body.dark-mode #int-hero {
    background: url("../images/about-dark.jpg");
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  body.dark-mode #about-content .content .topper {
    color: var(--shade);
  }
  body.dark-mode #about-content .content h2 {
    color: #fff;
  }
  body.dark-mode #about-content .content h2:before {
    background: var(--shade);
    opacity: .1;
  }
  body.dark-mode #about-content .content h2 span {
    color: var(--shade);
  }
  body.dark-mode #about-content .content .decoration .line {
    background: var(--shade);
  }
  body.dark-mode #staff h2 {
    color: #fff;
  }
  body.dark-mode #staff .member .title {
    color: #fff;
    opacity: .7;
  }
  body.dark-mode #form .topper {
    color: var(--shade);
  }
  body.dark-mode #form h2 {
    color: #fff;
  }
  body.dark-mode #form label {
    color: #fff;
  }
  body.dark-mode #form ::placeholder {
    opacity: .3;
  }
  body.dark-mode #form .contact-right {
    background: var(--tint);
  }
  body.dark-mode #reviews .name {
    color: #fff;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  body.dark-mode #how-we-know {
    background: var(--darkPrimary);
  }
}
